* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

.top-division img {
    border-radius: 50%;
    max-width: 150px;
    height: 150px;
}

.top-division {
    background-color: yellow;
    display: flex;
}



.img-section {
    margin-right: 25px;
}

.mid-left-division {
    background-color: black;
    color: white;
    padding: 25px;

}

.mid-right-division {
    padding: 20px;
}

.footer {
    display: flex;
    colour: green;
    justify-content: speace-betweeen;
    align-item: center;
    pading: 25px;
}



.mid-division {

    display: flex;

}

.content {
    margin-left: 25px;
}

.mid-right-division section {
    margin-bottom: 15px;
}

.mid-right-division h3 {
    margin-bottom: 15px;
}


a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
